/.*
/Debug
/cdragon/Debug
/cdragon/enc_temp_*
/enc_temp_*
/cdragon/x64/Debug
/libs
/x64
/x64/Release
/Release
/cdragon/x64
/cdragon/temp
/cdragon/bundles
/cdragon/cdragon/rman/bundles
/cdragon/DATA/FINAL/Champions
